
    body {
      background-color:#1A4D2E ;
    }
     
    hr {
      background-color:rgb(232, 81, 81);
      border-width:none;
      height:2px;
    }

    img {
      height:222px;
    }

