body{
    background-color:#0096FF;
}
.circular {
    border-radius:369%;
}

h1 {
    color:#EAFFD0;
}
h2 {
    color:white;
}
h3 {
    color:blue;
}
hr {
    color:whitesmoke;
}
img:hover {
    background-color:whitesmoke;

}
p {
   color:white; 
}
img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}